/**
 * Satu Ramadhan - Main Stylesheet
 * Modular CSS Architecture
 * 
 * This file imports all component stylesheets.
 * Each component is self-contained and maintainable.
 */

/* === BASE === */
@import url('./base/_variables.css');
@import url('./base/_fonts.css');
@import url('./base/_reset.css');
@import url('./base/_typography.css');

/* === LAYOUT === */
@import url('./layout/_container.css');

/* === COMPONENTS === */
@import url('./components/_header.css');
@import url('./components/_hero.css');
@import url('./components/_countdown.css');
@import url('./components/_schedule.css');
@import url('./components/_location.css');
@import url('./components/_modal.css');
@import url('./components/_buttons.css');
@import url('./components/_footer.css');
@import url('./components/_animations.css');
@import url('./components/_settings.css');
@import url('./components/_skeleton.css');
@import url('./components/_splash.css');


/* Remove highlight on tap */
* {
    -webkit-tap-highlight-color: transparent;
}